<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.xsmp.ui.profile">
      <factory
            id="org.eclipse.xsmp.profile.simsat"
            injector="org.eclipse.xsmp.profile.simsat.ui.SimSatExecutableExtensionFactory:com.google.inject.Injector"
            name="SIMSAT Profile">
      </factory>
   </extension>
    <extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="org.eclipse.xsmp.profile.simsat.ui.SimSatExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="xsmpcat"/>
	</extension>
		<extension
		point="org.eclipse.xtext.ui.projectTemplate">
		<projectTemplateProvider
			class="org.eclipse.xsmp.profile.simsat.ui.SimSatExecutableExtensionFactory:org.eclipse.xsmp.profile.simsat.ui.wizard.SimSatProjectTemplateProvider"
			grammarName="org.eclipse.xsmp.Xsmpcat">
		</projectTemplateProvider>
	</extension>
</plugin>
