<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xsmp -->
      <package
            uri="http://org.eclipse.xsmp/xsmp"
            class="org.eclipse.xsmp.model.xsmp.XsmpPackage"
            genModel="model/xsmp.genmodel"/>
   </extension>

</plugin>
