<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.xsmp.ui.profile">
      <factory
            id="org.eclipse.xsmp.profile.xsmp"
            injector="org.eclipse.xsmp.profile.xsmp.ui.XsmpExecutableExtensionFactory:com.google.inject.Injector"
            name="Xsmp Profile">
      </factory>
   </extension>
    <extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="org.eclipse.xsmp.profile.xsmp.ui.XsmpExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="xsmpcat"/>
	</extension>
</plugin>
