<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
          point="org.eclipse.xsmp.ui.tool">
       <factory
             description="A tool for writing object-oriented unit tests in Python"
             injector="org.eclipse.xsmp.tool.python.ui.PythonExecutableExtensionFactory:com.google.inject.Injector"
             id="org.eclipse.xsmp.tool.python"
             name="Python wrapper">
       </factory>
    </extension>
    
    <extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="org.eclipse.xsmp.tool.python.ui.PythonExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="xsmpcat"/>
	</extension>
</plugin>
