<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="org.eclipse.xsmp.target" sequenceNumber="1">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
			<!--custom-->
			<unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.rcp.sdk.id" version="0.0.0"/>
			<unit id="org.eclipse.sirius.properties.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sirius.specifier.properties.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sirius.specifier.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/releases/2022-06"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.27.0/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/tools/cdt/releases/10.7/"/>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>