<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension point="org.eclipse.xsmp.ui.profile">
        <profile class="org.eclipse.xsmp.profile.xsmp_sdk.ui.XsmpSdkProfile">
        </profile>
    </extension>
    <extension
        point="org.eclipse.xtext.ui.projectTemplate">
        <projectTemplateProvider
            class="org.eclipse.xsmp.profile.xsmp_sdk.ui.XsmpSdkExecutableExtensionFactory:org.eclipse.xsmp.profile.xsmp_sdk.ui.wizard.XsmpSdkProjectTemplateProvider"
            grammarName="org.eclipse.xsmp.Xsmpcat">
        </projectTemplateProvider>
    </extension>
</plugin>
