name: Java Build

on:
   pull_request:
      branches:
      - main
   push:
      branches:
      - main
permissions:
   contents: write
jobs:
   build:
      name: Build on ${{ matrix.os }}
      runs-on: ${{ matrix.os }}

      strategy:
         matrix:
            os:
            - windows-latest
            - macos-latest

      steps:
      -  name: Setup Maven Action
         uses: s4u/setup-maven-action@v1.11.0
      -  name: Build with Maven
         uses: coactions/setup-xvfb@v1
         with:
            run: mvn -B package --file pom.xml
   SBOM-upload:
      name: SBOM-upload
      runs-on: ubuntu-latest
      steps:
      -  name: Setup Maven Action
         uses: s4u/setup-maven-action@v1.11.0
      -  name: Submit Dependency Snapshot
         uses: advanced-security/maven-dependency-submission-action@v3
