# This workflow will release the Eclipse repository on GitHub when a new tag is pushed

name: Release on GitHub

on:
   push:
      tags:
      - v*

jobs:
   build:
      permissions: write-all
      runs-on: ubuntu-latest

      steps:
      -  uses: actions/checkout@v4
      -  name: Set up JDK 17
         uses: actions/setup-java@v3
         with:
            java-version: '17'
            distribution: temurin
            cache: maven

      -  name: Build with Maven
         run: mvn -B package --file pom.xml


      -  name: Install npm dependencies
         working-directory: org.eclipse.xsmp.vscode_extension
         run: npm install -g @vscode/vsce

      -  name: Package VS Code Extension
         working-directory: org.eclipse.xsmp.vscode_extension
         run: |
            npm version ${{ github.ref_name }} --allow-same-version
            npm install
            vsce package --out "target/xsmp-modeler.vsix"

      -  name: Rename output file
         run: |
            mv ${{ github.workspace }}/org.eclipse.xsmp.repository/target/org.eclipse.xsmp.repository.zip ${{ github.workspace }}/org.eclipse.xsmp.repository/target/org.eclipse.xsmp.repository-${{ github.ref_name }}.zip
            mv ${{ github.workspace }}/org.eclipse.xsmp.vscode_extension/target/xsmp-modeler.vsix ${{ github.workspace }}/org.eclipse.xsmp.vscode_extension/target/xsmp-modeler-${{ github.ref_name }}.vsix
            mv ${{ github.workspace }}/org.eclipse.xsmp.tool.smp.cli/target/org.eclipse.xsmp.tool.smp.cli.jar ${{ github.workspace }}/org.eclipse.xsmp.tool.smp.cli/target/org.eclipse.xsmp.tool.smp.cli-${{ github.ref_name }}.jar
            mv ${{ github.workspace }}/org.eclipse.xsmp.profile.xsmp_sdk.cli/target/org.eclipse.xsmp.profile.xsmp_sdk.cli.jar ${{ github.workspace }}/org.eclipse.xsmp.profile.xsmp_sdk.cli/target/org.eclipse.xsmp.profile.xsmp_sdk.cli-${{ github.ref_name }}.jar
            mv ${{ github.workspace }}/org.eclipse.xsmp.profile.esa_cdk.cli/target/org.eclipse.xsmp.profile.esa_cdk.cli.jar ${{ github.workspace }}/org.eclipse.xsmp.profile.esa_cdk.cli/target/org.eclipse.xsmp.profile.esa_cdk.cli-${{ github.ref_name }}.jar

      -  name: Release
         uses: softprops/action-gh-release@v1
         if: startsWith(github.ref, 'refs/tags/')
         with:
            name: Release ${{ github.ref_name }}
            body: |
               This release contains XSMP modeler ${{ github.ref_name }}
               
               To install XSMP Modeler in Eclipse, add or update the XSMP [software site](https://help.eclipse.org/latest/index.jsp?topic=/org.eclipse.platform.doc.user/tasks/tasks-127.htm) with URL:
               `jar:https://github.com/ThalesGroup/xsmp-modeler-core/releases/download/${{ github.ref_name }}/org.eclipse.xsmp.repository-${{ github.ref_name }}.zip!/`
               
               To install XSMP in Visual Studio Code, download this [extension](https://github.com/ThalesGroup/xsmp-modeler-core/releases/download/${{ github.ref_name }}/xsmp-modeler-${{ github.ref_name }}.vsix) and follow these [instructions](https://code.visualstudio.com/docs/editor/extension-marketplace#_install-from-a-vsix).
               
               You can find additional Command Line utilities in the Assets.
            files: |
               ${{ github.workspace }}/org.eclipse.xsmp.repository/target/org.eclipse.xsmp.repository-${{ github.ref_name }}.zip
               ${{ github.workspace }}/org.eclipse.xsmp.vscode_extension/target/xsmp-modeler-${{ github.ref_name }}.vsix
               ${{ github.workspace }}/org.eclipse.xsmp.tool.smp.cli/target/org.eclipse.xsmp.tool.smp.cli-${{ github.ref_name }}.jar
               ${{ github.workspace }}/org.eclipse.xsmp.profile.xsmp_sdk.cli/target/org.eclipse.xsmp.profile.xsmp_sdk.cli-${{ github.ref_name }}.jar
               ${{ github.workspace }}/org.eclipse.xsmp.profile.esa_cdk.cli/target/org.eclipse.xsmp.profile.esa_cdk.cli-${{ github.ref_name }}.jar
